@font-face {
    font-family: 'Rockybilly';
    src: url('Assets/fonts/Rockybilly.ttf');
}
@font-face {
    font-family: 'Allura';
    src: url('Assets/fonts/Allura-Regular.ttf');
}
@font-face {
    font-family: 'Caveat';
    src: url('Assets/fonts/Caveat-VariableFont_wght.ttf');
}
@font-face {
    font-family: 'Akaya';
    src: url('Assets/fonts/AkayaKanadaka-Regular.ttf');
}
@keyframes slide-in-left  {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }

}
@keyframes slide-in-right {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }

}
@keyframes shrink {

    25%,
    75% {

        scale: 100% ;
    }

    50%{
        scale: 130% ;
    }
}
@keyframes slide-in {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }

}

body {
    
    background-color:#102D2A;
    /* background-color:#4F797D; */
    margin: 0;
            color: #E4F6F4;


}
.menuBar {
    display: none;
    /* display: flex; */
    position: fixed;

    right: 0;
}
.menu {
    display: flex;
    justify-content: space-between;
    /* justify-content: center; */
    background-color: #E4F6F4;
  /* width: 100%; */
  /* height: 100%; */
  z-index: 19;
  /* right: 0; */
  top: 0;
  padding: 20px 20px 0px 20px;
  position: sticky;
  /* position: fixed; */
  /* display: none; */
  /* animation-name: slide-in-right;
  animation-duration: 1.5s; */
  color:#102D2A ;
  display: none;
}

.closeBtn {
    position:absolute;
    right: 0;
    top: 0;
    padding: 20px;

    display: none;
}
.menuMobile {
    display: flex;
    flex-direction: column;
    position: fixed;
    text-align: center;
    right: 0;
    width: 50%;
    height: 70% ;
    /* height:50%; */
    justify-content: space-evenly;

}
.menuMobile ul {
    display: grid;
    padding: 0;

}
ul {
    display: flex;
    /* justify-content: space-between; */
    list-style: none;
    font-family: 'Akaya';
    font-size: 20px;
    gap: 30px;
    /* display: grid; */

  color:#102D2A ;

}

a {
    position: relative;
}
 ul a:after {
  content: '';
  position: absolute;
  width: 0;
  height: 3px;
  display: block;
  margin-top: 5px;
  right: 0;
  background: linear-gradient(to right, #ffffff, #102D2A) ;
  transition: width .4s ease;
}

 ul a:hover:after {
  width: 100%;
  left: 0;
  background: #102D2A ;
}
.menu p {
    font-size: 28px;
    /* height: 100px; */
}
.profile img{
    /* background-color:#ebe5ff ; */
    /* width: 50px;
    height: 50px; */
    width: 400px;
    border-radius: 50%;
    text-align: center;
      overflow: hidden;

}



/* .menu button {
    height:30px;
    outline: none;
    border-radius: 50%;
    width: 30px;
    border: none;
    color: #ffffff;
    background-color: rgba(243, 243, 243, 0.3);
} */

/* svg {
  display: flex;
  justify-content: flex-end;
   position: fixed;
  right: 0;
  top: 30px;  
  z-index: 10;
  cursor: pointer;
  margin: 10px;
} */
/* .main {
    display: flex;
    justify-content:flex-start;
    padding: 30px;
    top:0;
    position: fixed;

} */
main {
    padding: 30px;
    display: grid;
    color: #E4F6F4;
    gap: 30px;
        

}

.homeText { 
    /* font-size: 90px;
    font-family: 'Rockybilly'; */
    /* z-index: 2; */
    /* position: fixed; */
    /* left: 10%; */
    /* z-index: 2; */


}

/* .homePage img {
    width: 300px;
    z-index: 3;
    position: fixed;
    right: 30%;
    top: 5%;
} */

.homePage {
    color: #E4F6F4;
}

.homePage h2 {
    font-size: 35px;
    font-family: 'Rockybilly';
    text-align: center;
    


}

.homePage p {
    font-family: Akaya;
    text-align: center;
    font-size: 30px;
}
.homeButtons {
    /* display: flex; */
    /* gap: 30px; */
    text-align: center;

}
.homeButtons button {
        font-family: Akaya;
    padding: 15px;
    cursor: pointer;
    border-radius: 10px;
    text-align: center;
    font-size: 25px;
}
.vPro {
    border: none;

    background-color: #E4F6F4;
    color: #102D2A;

}


.res {
    border: 2px solid #E4F6F4;
    color: #E4F6F4;
    background-color: #102D2A;
}


.page {
    padding: 20px;
    font-size: 28px;
    margin-top: 20px;


}
.page a {
    color: #E4F6F4;
}

.pageName {
    color: #b35163;
}


.popUp {
    
    display: grid;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    /* background-color: #f7f5e3; */
    padding: 20px;
    overflow: auto;
    overflow-x: hidden;
   width: auto;
    z-index: 5;
    display: none;

}
.header {
    display: flex;
    background-color: #f7f5e3;
    border-bottom: 1px solid #494135;

    padding-right: 30px;
    height: max-content;
    padding-top: 20px;
    display: none;

    top: 0;
    width: 100%;
    font-family: 'Akaya';

}



.about {
    /* display: inline-block; */

    /* display: none; */
    /* text-align: start; */
    /* width: fit-content; */


}

.aboutDiv {
    border: 2px solid #E4F6F4;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    font-family: akaya;

}

.aboutDiv p {
    /* text-align: center; */
    width: 400px;
    font-size: 20px;
}



.contactDiv {
    /* text-align: center; */
    display: grid;
    /* display: none; */
    font-family: Akaya;
  color: #E4F6F4;
}

.contactDiv a {
    display: flex;
    gap: 30px;
}

.skills h1 {
    /* text-align: center;
    font-family: caveat; */
    font-size: 40px;
    

}

.skillsDiv {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    font-family: 'Akaya';

}

.skillsDiv div {
        border: 2px solid #E4F6F4;
        padding: 10px;

}

.skills h2 {
    font-family:'Times New Roman', Times, serif;
}
#photographsBody {


    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    margin-top: 20px;
    /* display: none; */
    width: fit-content;
    

}

.photos {
    width:390px;
    border-radius: 10px;
    animation-name: slide-in-left;
    animation-duration: 2.5s;

}

#artworksBody {

    display: grid;
    grid-template-columns:1fr 1fr 1fr ;
    gap: 10px;
    width: fit-content;
    /* display: none; */

}

#projectsBody {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    margin-top: 20px;
    /* display: none; */


}



.projectDiv {

    border-radius: 10px;
    text-align: center;
    display:flex;
    /* background-color: #E4F6F4; */
    /* background-color: #102D2A; */
    border: 2px solid #E4F6F4;
    flex-direction: column;

    /* color: #102D2A; */
    /* width: fit-content; */
    padding-bottom: 15px;
    justify-content: center;
    align-items: center;
    /* align-content: center; */
    width:auto;
  /* animation-name: slide-in;
  animation-duration: 2.5s; */

}



.projectDiv img {
    
    border-bottom-right-radius: 10px; 
    border-bottom-left-radius: 10px;
    height: 150px;
    width:100%;
    border-radius: 10px;

}


.projectDiv p {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
    display: flex;
    margin-bottom: 5px;


}


.viewProjectBtn {
    text-decoration: none;
    /* background-color: #102D2A; */
    border: 2px solid #E4F6F4;
    text-align: center;
    color: #E4F6F4;

    width: 200px;
    padding: 10px;
    font-family: 'Akaya';
    border-radius: 10px;
    justify-content: center;

}

.viewProjectBtn a {
    color: #E4F6F4;
}

.viewProjectBtn:hover {
    /* background-color: #866e73; */
    background-color: #E4F6F4;
    color: #102D2A;

}
.viewProjectBtn a:hover {
    color: #102D2A;
}
a {
    text-decoration: none;
    color: #102D2A;
    /* color: #494135; */

}
a:hover {
  /* color: #ffffff; */

}


.projectDiv p:hover {
           animation-name: shrink;
    animation-duration: 2.5s;
}

footer {
    font-family: Akaya;
    bottom: 0;
    width: 100%;
    text-align: center;
    /* position: fixed; */
}


@keyframes swing {
    0% {
        transform: rotate(10deg);
    }
    50% {
        transform: rotate(-5deg);
    }

   100% {
      transform: rotate(10deg);

    }
    
}
@media screen and (max-width: 430px) {

    .menuMobile {
          animation-name: slide-in-right;
  animation-duration: 1.5s;
    }
/* 
  .main {
    display: grid;
    padding: 20px;
  } */



/* .popUp {
    gap: 0;
    display: flex;
    display: none;
} */
.page {
    padding: 0;
}
   .homePage {

    display: grid;
    /* justify-content: space-around; */


   } 
     /* .homePage img {
    width: 200px;
    z-index: 3;
    right: 0;
    top:10%;
   } */
   /* .homeText { 
    font-size: 40px;
    font-family: 'Rockybilly';
    top: 30%;
    left: 20%;
    position: fixed;
    text-align: center;
  z-index: 2;


} */
/* .paged {
        font-size: 16px;

} */

.homeButtons {
    display: grid;
    gap: 15px;

}
.profile {
    text-align: center;
}
.aboutDiv img {
    width: 180px;
    
}

   #aboutText {
    /* border: 1px solid #809c85;
    padding: 10px;
    border-radius: 10px; */
    margin: 0;
    /* width:fit-content; */
    /* display: none; */

}
.header {
    margin-bottom: 20px;
}
.aboutDiv {
    display: grid;
    /* margin: 0; */
}

.aboutDiv p {
     width: 100%;
}

/* #experienceText {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    display: none;
    font-family: 'Akaya';

} */
.projectDiv img {
    
    border-bottom-right-radius: 10px; 
    border-bottom-left-radius: 10px;
    height: 150px;
    width:100%;
    border-radius: 10px;

}
.photos {
    width: 100%;
}
#artworksBody img {
    width: 100%;
}
#photographsBody {


    padding: 20px;

}

 footer {
    font-family: Akaya;
    /* bottom: 0;
    left: 25%;
    width: fit-content; */
    /* position: fixed; */
    width: 100%;
    text-align: center;
}
    
}

@media screen and (max-width: 1024px) and (min-width : 768px) {
  .homePage {
    display: grid;
    justify-content: space-around;
  }
     .homeText { 
    font-family: 'Rockybilly';
    top: 30%;
    left: 10%;
    position: fixed;
    text-align: center;
  z-index: 2;


}
     .homePage img {
    right: 0;
    top:10%;
   }

   .aboutDiv {
    display: grid;
    width: fit-content;
    padding: 10px;
   }
   .aboutDiv img {
    width: 300px;
    
}
   #aboutText {
    border: 2px solid #809c85;
    padding: 10px;
    border-radius: 10px;
    margin: 0;
    width: fit-content;
    display: none;
    height: fit-content;

}
.header {
    margin-bottom: 20px;
}

   #projectsBody {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-top: 20px;
    display: none;


}
#photographsBody, #artworksBody{


    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin-top: 20px;
    display: none;
    

}

.photos {
        width: 100%;

}

    
}