@font-face {
    font-family: 'Rockybilly';
    src: url('Assets/fonts/Rockybilly.ttf');
}
@font-face {
    font-family: 'Allura';
    src: url('Assets/fonts/Allura-Regular.ttf');
}
@font-face {
    font-family: 'Caveat';
    src: url('Assets/fonts/Caveat-VariableFont_wght.ttf');
}
@font-face {
    font-family: 'Akaya';
    src: url('Assets/fonts/AkayaKanadaka-Regular.ttf');
}
@keyframes slide-in-left  {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }

}
@keyframes slide-in-right {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }

}
@keyframes shrink {

    25%,
    75% {

        scale: 100% ;
    }

    50%{
        scale: 130% ;
    }
}
@keyframes slide-in {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }

}

body {
    
    background-color: #e4bec5;
    margin: 0;

}

.menu {
    display: flex;
  justify-content: flex-end;
  background-color: #809c85;
  height: 100%;
  z-index: 19;
  right: 0;
  top: 0;
  padding: 10px;
  position: fixed;
  display: none;
  animation-name: slide-in-right;
  animation-duration: 1.5s;
}

.menu ul{
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    font-family: 'Akaya';
    gap: 20px;


}


ul img {
    width: 50px;
    margin-bottom: -15px;

}

.menu button {
    height:30px;
    outline: none;
    border-radius: 50%;
    width: 30px;
    border: none;
    color: #ffffff;
    background-color: rgba(243, 243, 243, 0.3);
}

svg {
  display: flex;
  justify-content: flex-end;
   position: fixed;
  right: 0;
  top: 30px;  
  z-index: 10;
  cursor: pointer;
  margin: 10px;
}
.main {
    display: flex;
    justify-content:flex-start;
    padding: 30px;
    top:0;
    position: fixed;

}


.homeText { 
    font-size: 90px;
    font-family: 'Rockybilly';
    z-index: 2;
    position: fixed;
    left: 10%;
    z-index: 2;


}

.homePage img {
    width: 300px;
    z-index: 3;
    position: fixed;
    right: 30%;
    top: 5%;
}


.page {
    padding: 20px;
    font-size: 28px;
    margin-top: 20px;


}


.pageName {
    color: #b35163;
}


.popUp {
    
    display: grid;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    background-color: #f7f5e3;
    padding: 20px;
    overflow: auto;
    overflow-x: hidden;
   width: auto;
    z-index: 5;
    display: none;

}
.header {
    display: flex;
    background-color: #f7f5e3;
    border-bottom: 1px solid #494135;

    padding-right: 30px;
    height: max-content;
    padding-top: 20px;
    display: none;

    top: 0;
    width: 100%;
    font-family: 'Akaya';

}



#aboutText {
    display: inline-block;
    border: 2px solid #809c85;
    border-radius: 10px;
    display: none;
    text-align: start;
    width: fit-content;


}

.aboutDiv {

    display: flex;
    font-family: akaya;

}
.pinimg {
    width: 900px;

}


#contactsText {
    text-align: center;
    display: grid;
    display: none;
    font-family: Akaya;

}



#experienceText {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    display: none;
    font-family: 'Akaya';

}

#experienceText img {
    width: 200px;
}

#photographsBody {


    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    margin-top: 20px;
    display: none;
    width: fit-content;
    

}

.photos {
    width:390px;
    border-radius: 10px;
    animation-name: slide-in-left;
    animation-duration: 2.5s;

}

#artworksBody {

    display: grid;
    grid-template-columns:1fr 1fr 1fr ;
    gap: 10px;
    width: fit-content;
    display: none;

}

#projectsBody {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    margin-top: 20px;
    display: none;


}



.projectDiv {

    border-radius: 10px;
    text-align: center;
    display:flex;
    background-color: #809c85;
    flex-direction: column;

    color: #f7f5e3;
    width: fit-content;
    padding-bottom: 15px;
    justify-content: center;
    align-items: center;
    align-content: center;
    width:auto;
  animation-name: slide-in;
  animation-duration: 2.5s;

}



.projectDiv img {
    
    border-bottom-right-radius: 10px; 
    border-bottom-left-radius: 10px;
    height: 150px;
    width:100%;
    border-radius: 10px;

}


.projectDiv p {
    font-family: 'Caveat';
    font-size: 30px;
    display: flex;
    margin-bottom: 5px;


}


.viewProjectBtn {
    text-decoration: none;
    background-color: #e4bec5;
    text-align: center;

    width: 200px;
    padding: 10px;
    font-family: 'Akaya';
    border-radius: 10px;
    justify-content: center;

}

.viewProjectBtn:hover {
    background-color: #866e73;

}
a {
    text-decoration: none;
    color: #494135;

}
a:hover {
  color: #ffffff;

}


.projectDiv p:hover {
           animation-name: shrink;
    animation-duration: 2.5s;
}

footer {
    font-family: Akaya;
    bottom: 0;
    width: 100%;
    text-align: center;
    position: fixed;
}


@keyframes swing {
    0% {
        transform: rotate(10deg);
    }
    50% {
        transform: rotate(-5deg);
    }

   100% {
      transform: rotate(10deg);

    }
    
}
@media screen and (max-width: 430px) {

  .main {
    display: grid;
    padding: 20px;
  }



.popUp {
    gap: 0;
    display: flex;
    display: none;
}

   .homePage {

    display: grid;
    justify-content: space-around;


   } 
     .homePage img {
    width: 200px;
    z-index: 3;
    right: 0;
    top:10%;
   }
   .homeText { 
    font-size: 40px;
    font-family: 'Rockybilly';
    top: 30%;
    left: 20%;
    position: fixed;
    text-align: center;
  z-index: 2;


}
.paged {
        font-size: 16px;

}
.aboutDiv img {
    width: 180px;
    
}

   #aboutText {
    border: 1px solid #809c85;
    padding: 10px;
    border-radius: 10px;
    /* margin-top: 20px; */
    margin: 0;
    width: fit-content;
    display: none;

}
.header {
    margin-bottom: 20px;
}
.aboutDiv {
    display: grid;
    /* margin: 0; */
}
#contactsText img {
    position: fixed;
    top: 9%;
    animation: swing 2.5s ease-in-out forwards infinite;
    /* transform: rotate(-10deg); */
    /* transform: translateZ(0); */
    /* backface-visibility: hidden; */
}
#experienceText {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    display: none;
    font-family: 'Akaya';

}
.projectDiv img {
    
    /* border-radius: 5px; */
    border-bottom-right-radius: 10px; 
    border-bottom-left-radius: 10px;
    height: 150px;
    width:100%;
    border-radius: 10px;
    /* top: 0; */

}
.photos {
    width: 100%;
}
#artworksBody img {
    /* padding: 20px; */
    width: 100%;
    /* width: 180px; */
}
#photographsBody {


    padding: 20px;

}

 footer {
    font-family: Akaya;
    bottom: 0;
    left: 25%;
    width: fit-content;
    position: fixed;
}
    
}

@media screen and (max-width: 1024px) and (min-width : 768px) {
  .homePage {
    display: grid;
    justify-content: space-around;
  }
     .homeText { 
    /* font-size: 40px; */
    font-family: 'Rockybilly';
    top: 30%;
    left: 10%;
    position: fixed;
    text-align: center;
  z-index: 2;


}
     .homePage img {
    right: 0;
    top:10%;
   }

   .aboutDiv {
    display: grid;
    width: fit-content;
    padding: 10px;
   }
   .aboutDiv img {
    width: 300px;
    
}
   #aboutText {
    border: 2px solid #809c85;
    padding: 10px;
    border-radius: 10px;
    margin: 0;
    width: fit-content;
    display: none;
    height: fit-content;

}
.header {
    margin-bottom: 20px;
}

   #projectsBody {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-top: 20px;
    display: none;


}
#photographsBody, #artworksBody{


    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin-top: 20px;
    display: none;
    

}

.photos {
        width: 100%;

}

    
}