@font-face {
    font-family: 'Rockybilly';
    src: url('Assets/fonts/Rockybilly.ttf');
}
@font-face {
    font-family: 'Allura';
    src: url('Assets/fonts/Allura-Regular.ttf');
}

body {
    margin: 0;
    /* overflow: hidden; */
    background-color: #e0d0d3;

    /* display: flex;
    justify-content: center; */
    /* background-color: #8b7b65; */
}

.frontPage {
    background-color:#809c85;
    /* background-color: #e0d0d3 ; */
    justify-content: center;
    text-align: center;
    /* padding: 15px; */
    position: absolute;
    z-index: 10;
    width: 500px;
    top: 30%;
    left: 30%;
    padding: 30px;
    display: grid;
    border-radius: 10px;
    display: none;

}

.frontPage h1 {
    font-family: 'Rockybilly';

}

.frontPage button {
    background-color: #e0dee0;
    /* background-color: #e0d0d3 ; */
    border: none;
    border-radius: 8px;
    padding: 15px;
    font-family: 'Allura';
    font-size: 30px;


}



main {
  padding: 30px;
  background-color: #e0d0d3;
  /* display: none; */


}
hr {
    background-color: black;
}

.homePage {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0px;
    /* display: none; */
}

.firstHalf {
    display: grid;
    /* height: max-content; */
    grid-template-columns: 1fr 1fr; 
    /* grid-template-areas: 

    "about experience experience"
    "project project contacts"
    "photographs artwork artwork" */

    ;
    gap: 20px; 
}

/* .firstHalf button {
    text-align: center;
    background-color: #809c85;
    color: white;
    border: 2px solid #e0d0d3;
    border-radius: 10px;
    font-family: 'Allura';
    height: 79px;

} */
.secondHalf {
    height: 401px;
}
.outerDiv {
    /* background-color: #e0d0d3; */
    background-color: #f7f5e3;
    padding: 20px;
    width: 400px;
    height: 300px;
    /* text-align: center; */
    border-radius: 10px;
    /* justify-content: center; */
    /* width: fit-content; */

}
.innerDiv {
    background-color: #809c85;
    text-align: center;
    /* padding: 30px; */
    width: 300px;
    height: 250px;
    display: grid;
    justify-content: center;
}
.header {
    display: flex;
    justify-content: space-between;
    padding-left:10px ;
    padding-right: 10px;
}
#text {
    text-align: center;
    padding: 30px;
    

}

#aboutText {
    border: 1px solid #809c85;
    padding: 10px;
  border-radius: 10px;
      display: none;

}

.aboutDiv {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* line-height: 30px; */
}
.idInfo {
    line-height: 13px;
}

label {
    color: #8b7b65;
}

.idInfo p {
    color: #494135;
}

#contactsText {
    text-align: center;
    display: grid;
    display: none;

}
#experienceText {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    display: none;
}
.main2{
    padding: 30px;
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 20px;
    display: none;

}
nav {
    border: 1px solid #494135;
    border-radius: 30px;
    background-color: #ffffff;


}
ul {
   text-decoration: none;
   list-style: none;
   display: flex;
   justify-content: space-around;

}

li:hover {
    text-decoration: underline;
}
#photographsBody {

     border: 1px solid #494135;
    border-radius: 30px;
    background-color: #ffffff;
    padding: 20px;
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr ;
    gap: 20px;
    /* width: max-content; */
    overflow: scroll;
    height: 370px;
    /* display: none; */

}

#artworksBody {
    border: 1px solid #494135;
    border-radius: 30px;
    background-color: #ffffff;
    padding: 20px;
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr ;
    gap: 20px;
    /* width: max-content; */
    overflow: scroll;
    height: 390px;
    /* display: none; */

}
.body img {
    width: 200px;
    
}
footer {
    border: 1px solid #494135;
    border-radius: 30px;
    background-color: #ffffff;
    padding: 10px;
    text-align: center;
}
@keyframes slide {
    0% {
            transform: translateX(0);

    }
    100% {
            transform: translateX(600px);

    }
}
.miffy{

    width: 200px;
    height: 200px;
    margin-top: -30px;
    margin-left: 5%;
    animation: slide 4s ease-in-out infinite alternate;

}

.kitty {
    width: 50px;
    height: 50px;
    margin-bottom: -19px;
    margin-top: -10px;
    z-index: 2;
}
/* .miffy:hover {
} */
.innerDiv p {

    width: 100px;
}
/* .contacts {
    grid-area: contacts;
}

.photographs {
    grid-area: photographs;
}

.about {
    grid-area: about;
}

.experience {
    grid-area: experience;
}

.project {
    grid-area: project;
}

.artworks {
    grid-area: artwork;
}
 */
